@media (max-width: 768px) {
    .md-hidden {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .sm-hidden {
        display: none !important;
    }
    .sm-flex-col {
        flex-direction: column !important;
    }
    .sm-flex-col-rev {
        flex-direction: column-reverse !important;
    }
    .sm-gap-05 {
        gap: 0.5rem !important;
    }
    .sm-gap-075 {
        gap: 0.75rem !important;
    }
    .sm-flex-1 {
        flex: 1 !important;
    }
    .sm-flex-2 {
        flex: 2 !important;
    }
    .sm-flex-3 {
        flex: 3 !important;
    }
}

@media (max-width: 512px) {
    .xs-hidden {
        display: none !important;
    }
    .xs-flex-col {
        flex-direction: column !important;
    }
}

.ml-2 {
    margin-left: 2rem !important;
}

.no-shrink {
    flex-shrink: 0 !important;
}

.w-full {
    width: 100%;
}

.h-auto {
    height: auto;
}

.font-serif {
    font-family: 'IBM Plex Serif', serif;
}

.font-mono {
    font-family: 'JetBrains Mono', monospace;
}

.font-italic {
    font-style: italic;
}

.font-sm {
    font-size: 0.9rem;
}

.font-md {
    font-size: 1.1rem;
}

.font-lg {
    font-size: 1.2rem;
}

.no-deco {
    text-decoration: none;
}

.no-break {
    white-space: nowrap;
}

.row-025 {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.row-05 {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.row-075 {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.row-1 {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-top-between {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.row-top-start {
    display: flex;
    justify-content: start;
    align-items: start;
}

.row-top-end {
    display: flex;
    justify-content: end;
    align-items: start;
}

.col-items-start {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.col-items-end {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}
