{{define "title"}}{{.ActiveWriting.Title}} &ndash; Igor Michalak{{end}}

{{define "content"}}{{with .ActiveWriting}}
<h1>{{.Title}}</h1>
<span class="writing-details font-mono">{{.PublishedAt.Format "2006-01-02"}}</span>
{{.Body}}
{{end}}{{end}}
